* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #f0f0f5;
  --border-color: rgba(0, 0 ,0 , .1);
}

html {
  font-size: 62.5%;
}

body, button, input {
  font-family: 'Poppins', sans-serif; 
  /* font-family: 'Heebo', sans-serif; */
}

body {
  background: var(--background);
}

@media(max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

@media(max-width: 425px) {
  html {
    font-size: 50%;
  }
}